<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Catalogue</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-app="itemApp" ng-controller="mainController">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

<script src="js/controllers/mainCtrl.js"></script>
<script src="js/services/itemService.js"></script>

<script src="js/main.js"></script>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <header>
                <h1>Items</h1>
                <p>Some description</p>
            </header>
        </div>
        <div class="col-md-4">
            <button id="login" class="btn btn-success btn-block" data-toggle="modal" data-target="#login-form" >
                Login
            </button>
        </div>
        <div class="col-md-4 text-right">
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-10">
            <div class="col-md-12" ng-repeat="item in items">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="item clearfix">
                            <div class="col-md-3 text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button role="submit" ng-click="addToCart(item.id, item.addcount)" class="btn btn-info">Add</button>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-model="item.addcount">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button role="submit" ng-click="deleteFromCart(item.id, item.delcount)" class="btn btn-danger">Delete</button>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-model="item.delcount">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img ng-src="{{item.image}}" class="img-responsive img-thumbnail" alt="">
                            </div>
                            <div class="col-md-7">
                                <span class="label label-info pull-right">Price: {{item.price}} {{item.currency}}</span>
                                <h3>{{item.name}}</h3>
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 text-right">

            <section id="cart">
                <button class="btn btn-success" ng-click="pushCart()">Push your cart</button><br>
                Items in cart<br> <span class="label label-info pull-right">{{countItems}}</span>
            </section>
        </div>

    </div>
    <hr>

</div>

<div class="modal fade" id="send-cart" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Finish your order</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center" id="errors">
                        <span class="label label-danger">{{errors.message}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-center">Send with login</h4>
                        <div class="form-group">
                            <input type="text" name="fname" ng-model="fname" placeholder="First name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="lname" ng-model="lname" placeholder="Last name" class="form-control">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block" ng-click="sendAllData()">Send</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-center">Send without login</h4>
                        <p>You may send all data without info about yourself</p>
                        <div class="form-group" style="margin-top: 58px;">
                            <button class="btn btn-success btn-block" ng-click="sendAllData()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login-form" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login form</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                        <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="fname" ng-model="fname" placeholder="First name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="lname" ng-model="lname" placeholder="Last name" class="form-control">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block" ng-click="loginFinish()">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="result-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center" style="font-size: 66px; margin-bottom: 15px;"><i class="fa fa-check"></i></h1>
                        <h4 class="text-center" style="text-transform: uppercase; margin-bottom: 15px;">All data sent!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="error-count" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center" style="font-size: 66px; margin-bottom: 15px;"><i class="fa fa-exclamation-triangle"></i></h1>
                        <h4 class="text-center" style="text-transform: uppercase; margin-bottom: 15px;">{{errorCountMessage}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>